<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="dblocal" connectionString="" providerName="System.Data.SqlClient" />
    <add name="ImgCloud" connectionString="" />
    <add name="Key" connectionString="" />
    
    <add name="dblocal1" connectionString="Data Source=DESKTOP-J6FVS2O\SQLEXPRESS;Initial Catalog=DEVEwats;User ID=sa;Password=password123" providerName="System.Data.SqlClient" />
    <add name="ImgCloud1" connectionString="http://localhost:5001/UploadImages/" />
    <add name="Key1" connectionString="huHM/SIWSXgEcnkBdQ2yUsUnGoMyQC8YWpDJzQiTbOugFCrWF6FgsR1Vn0zMgFB+" />
    <add name="dbFake" connectionString="Data Source=DESKTOP-IMD4D2C\PRODUCTION;Initial Catalog=DB_OKEY;User ID=sa;Password=password123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
