@model FormMasterData
<div class="row">
    @{
        GlobalFunction GF = new GlobalFunction();
        
        int a = 12 / Model.ColField;
        foreach (var d in Model.Template)
        {
            if (Model.dbContext != null)
            {
                d.ValueInput = GF.GetPropValue(Model.dbContext, d.Id.Trim());
            }

            <div class="col-md-@a" @{if (d.ShowHide != "Show") { <text> hidden="hidden" </text>  } }>
                <div class="form-group">
                    <label class="control-label">
                        @d.TextLabel
                    </label>
                    @await Html.PartialAsync("_LayoutTypeInputFilter", d)
                </div>
            </div>
        }
    }
</div>